.grid-movies-shows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /*responsive*/
    gap: 20px;
}

.movie-card {
    border: 1px solid #9a8e8e;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.toggle {
    width: 250px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.btnRate {
    margin: 20px 0 0;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    background-color: rgb(255, 224, 112);
    border: 1px solid black;
    padding: 5px;
}


@media screen and (max-width: 768px) {
    .grid-movies-shows {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 15px;
    }

    .toggle {
        max-width: 270px;
        flex-wrap: wrap;
        text-align: center;
    }


}

@media screen and (max-width: 480px) {
    .grid-movies-shows {
        grid-template-columns: 1fr;
        /* single column on small phones */
        gap: 10px;
    }
}